*.swp
02packages.details.txt.gz
.vagrant
veewee/iso
veewee/Fedora-17-x86_64.box
qemu/fedora20/data.raw
qemu/fedora20/system.raw
qemu/fedora20/system*gz
qemu/fedora20/initrd*.img
qemu/fedora20/vmlinuz
